@model Category

<div style="border:1px solid gray;">
    <h2>@Model.CategoryName</h2>
    @if(User.Identity.IsAuthenticated)
    {
        <input type="button" value="Edit Category" onclick="location.href='@Url.Action("Edit", "Category", new { model = Model })'" />

        <br />
        <input type="button" value="Delete Category" onclick="location.href='@Url.Action("Delete", "Category", new { id = Model.ID })'" />
    }
    <br />
    @Html.ActionLink("All Categories", "Index")
</div>