
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

@section header{
    <h1 class="_RBHeader">About Our Coffee</h1>
    }
@section footer{
    Something Creative
    }
<p>Instant lungo, redeye dripper, breve caramelization doppio single shot java fair trade french press. Variety, seasonal, coffee ristretto extraction est ut milk skinny con panna. A, rich ut est a est sugar beans. Americano to go ristretto, variety, a, wings cappuccino percolator trifecta aged java.</p>
<p>Whipped aroma single shot, pumpkin spice bar lungo sit seasonal. Decaffeinated white, spoon breve roast strong decaffeinated breve cappuccino. Extraction coffee dark breve, ristretto so, caffeine mazagran cream barista java cappuccino. Medium carajillo, arabica extra caramelization froth qui aftertaste latte.</p>
<p>Con panna, doppio white carajillo extraction barista cappuccino in flavour robust robusta variety. Chicory ut barista, wings percolator viennese, black decaffeinated chicory percolator trifecta. Latte, café au lait percolator, java, extra roast foam robust rich. Arabica, lungo, wings, grounds est ristretto cup viennese so extra steamed half and half.</p>