
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

@section header{
    <h1 class="_RBHeader">About Our Coffee</h1>
    }
@section footer{
    Something Creative
    }
<p>Who: C# Coffee</p>
<p>What: Coffee and coffee accessories.</p>
<p>When: Every day between September 2016 and now.</p>
<p>Where: If you're seeing this you found it already.</p>
<p>How: We like coffee. So we decided to sell it.</p>