@model ContactModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}

@section header{
    <h1 class="_RBHeader">Contact Us</h1>
    }

@section footer{
    something snarky
    }

<p>Address: 15234 Caffeine Way, Gary Indiana <br />
    Phone: (555)555-5555</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.EditorFor(m=>m)

    <button type="submit">Submit</button>
}