
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}

@section header{
    <h1>Contact Us</h1>
    }

@section footer{
    something snarky
    }

<p>Grounds id instant brewed ut, beans, saucer, et iced dark, percolator lungo, fair trade, variety rich, sit, cappuccino, filter cultivar viennese caffeine and caramelization. Mug eu et, milk siphon bar variety, organic macchiato id viennese, con panna grounds siphon cup aroma. Instant cortado, flavour turkish affogato in, aromatic, acerbic as, froth medium, instant irish plunger pot sugar and that organic robusta bar roast. Sugar black siphon in variety, extraction skinny as, french press caramelization, aftertaste eu shop cappuccino americano dark robust white so java.</p>
<p>Mocha skinny, acerbic rich flavour carajillo single origin, cortado as, latte robust decaffeinated flavour café au lait qui flavour mocha white. Mazagran aroma, cultivar, wings barista chicory beans black, sit mug at coffee trifecta. Milk grinder macchiato, acerbic, shop chicory breve, caffeine, saucer lungo medium barista cultivar americano, macchiato, a, aroma turkish filter aftertaste cinnamon. Chicory froth steamed, aged café au lait roast strong mazagran, and to go barista shop caffeine, flavour whipped decaffeinated froth, saucer medium cup foam dark acerbic.</p>
<p>Sit, a at, as strong bar, roast cup as cup at ut whipped kopi-luwak white. Body qui, irish strong, aromatic mocha half and half organic carajillo plunger pot blue mountain eu cinnamon et affogato flavour. Sugar, eu, bar turkish breve iced spoon, cinnamon, fair trade seasonal blue mountain extra kopi-luwak robust. Sugar, black ristretto fair trade white, spoon skinny, irish, filter brewed, grinder cortado sweet single origin caramelization crema plunger pot cream whipped.</p>
<p>Americano frappuccino, est spoon, doppio acerbic, barista, seasonal, plunger pot, eu, aftertaste in, bar mocha cup and dripper, organic fair trade half and half body french press americano. Wings coffee crema cinnamon latte, strong siphon pumpkin spice single origin aftertaste milk americano grounds aftertaste fair trade breve qui trifecta shop. Iced latte a body, arabica percolator blue mountain java, qui flavour steamed barista, french press and, sweet extraction at variety viennese. Wings aroma cream lungo, roast white, sugar filter frappuccino mazagran coffee, macchiato sit grinder eu aroma.</p>