<connectionStrings>
  <add name="Aura" connectionString="Server=aura.students.cset.oit.edu;Database=alan_wallace;User Id=alan_wallace;Password=AW7171;" providerName="System.Data.SqlClient" />
  <add name="SampleDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Alan\Source\Repos\CST465-Samples\CST465-MVC\App_Data\SampleDB.mdf;Integrated Security=True" />
</connectionStrings>