
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Server Error";
}
<div>
    <img style="border:none" src="~/img/warning.png" alt="Error" height="50px" width="50px"/>
    <span>Sorry, we were unable to find the server.</span>
</div>
