
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<body>
    <h2>Premium Gluten-Free All-Natural Barista Art</h2>
    <img src="~/img/cupOfCoffee.jpg" alt="CoffeeArt" style="border:1px solid black;"/>
</body>

@section header{
    <h1 class="_RBHeader">Homepage</h1>
    }

@section footer {
    home footer advantage
    }