@model IEnumerable<BlogPost>

@if (Model != null)
{
    foreach (var blog in Model)
    {
        @Html.ActionLink(blog.Title, "Display", new { id = blog.ID });
        <div>@blog.Timestamp.ToLocalTime()</div>

    }
}