@model IEnumerable<Product>

@if(Model != null)
{
    foreach(var obj in Model)
    {
        <div>
        @Html.ActionLink(obj.ProductName, "Display", new { id = obj.ID })
            <br />
            Price: $@obj.Price <br />
            @if (obj.ProductImage != null)
            {
                string s = "data:" + obj.ImageContentType + ";base64," + Convert.ToBase64String(obj.ProductImage);
                <img src="@s" alt="@obj.ImageFileName" />
            }

            <br />
            @obj.ProductDescription
        </div>
    }
}
