body {
}

nav{
    border:1px black solid;
    float:left;
    width:25%;
    box-sizing:border-box;
}

main{
    border:1px black solid;
    float:right;
    width:75%;
    box-sizing:border-box;
    padding:10px;
}

table, th{
    border:1px solid black;
}

thead{
    font-size:125%;
    font-weight:bolder;
}

.container{
    width:inherit;
    clear:both;
}

.container label{
    float:left;
    width:100px;
    text-align:right;
    white-space:nowrap;
    padding-right:5px;
    display:inline-block;
    clear:left;
    margin-top:2px;
    margin-bottom:2px;
}

.container input, select, textarea{
    display:inline-block;
    float:left;
    margin-top:2px;
    margin-bottom:2px;
    margin-right:2px;
    width:45%;
    min-width:150px;
}

.container textarea{
    
    width:45%;
}


.container table{
    border-collapse:collapse;
    float:left;
    margin-top:2px;
    margin-bottom:2px;
    width:50%;
    min-width:460px;
}


.container table, th, td{
    border:1px solid black;
}
