/* Color Palette: http://paletton.com/#uid=10K0u0kaDgGjyoqd9eyhKdxl8cX*/

html{
    background-image:url('../img/background.jpg');
}

body {
    background-color:#857359;
}

header{
    display:block;
    background-image:url('../../img/headerBackground.jpg');
    color:white;
    text-shadow:-2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align:center;
}

.footer {
    margin:20px;
    display:block;
    text-align:center;
    font-size:12px;
}

.blogPostContent{
    padding: 4px, 4px, 4px;
    margin:7px;
}

.blogPostCredit{
    padding:4px, 4px, 4px;
    margin: 7px;
    font-size:10px;
    font-style:italic;
    color:gray;
}

.editPost{
    font-size:12px;
    padding:4px, 4px, 4px;
    margin:7px;
}

nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul li{
    border:1px solid #674B23;
    border-radius:5px;
    padding:5px;
    color:#c3914c;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    background-color:black;
    text-align:center;
}

nav ul li a{
    color:inherit;
}

.slogan {
    font-size:35px;
}

.company{
    font-size:75px;
    font-weight:bold;
}

@media(min-width:768px)
{
    body{
        max-width:1080px;
        margin-left:auto;
        margin-right:auto;
    }
    nav{
        width:100%;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        height:100%;
    }
    nav ul li{
        display:inline-block;
        box-sizing:border-box;
        width:25%;
        float:left;
    }
}
